<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Propiedades de la conexión -->

        <!-- Driver JDBC -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>

        <!-- Conexión. Añadir ?createDatabaseIfNotExist=true para crear la BBDD  -->
        <property name="connection.url">jdbc:mariadb://localhost:3306/empresa?createDatabaseIfNotExist=true</property>

        <!-- Usuario y password de la BBDD -->
        <property name="connection.username">root</property>
        <property name="connection.password">system</property>

        <!--  dialecto dentro del conector. Importante para claves ajenas-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuraciones adicionales -->

        <!-- JDBC connection pool Conexiones concurrentes -->
        <property name="connection.pool_size">5</property>

        <!-- Una sesion de trabajo por Thread-->
        <property name="current_session_context_class">thread</property>


        <!-- Informa de las operaciones "reales" SQL. Interesante en desarrollo -->
        <property name="show_sql">true</property>

        <!-- Mantenimiento de la BBDD -->

        <property name="hbm2ddl.auto">update</property>
        
        <mapping resource="Equip.hbm.xml"/>

        <mapping class="com.iticbcn.quimpelacals.models.Empleat"/>
        <mapping class="com.iticbcn.quimpelacals.models.Tasca"/>
        <mapping class="com.iticbcn.quimpelacals.models.Historic"/>
    </session-factory>
</hibernate-configuration>
